{
  "arrowParens": "always",
  "jsdocPrintWidth": 120,
  "plugins": ["prettier-plugin-jsdoc"],
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "all",
  "tsdoc": true
}
